# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/.output
/tmp
/out-tsc
/lib

# dependencies
/node_modules

# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
.vs/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# code coverage
/coverage

# System Files
.DS_Store
